header {
  background-color: var(--raisin-black);
  color: white;
  padding: 30px 0;
  font-weight: 300;
  i{
    font-size: 42px;
    margin-right: 10px;
    display: flex !important;
  }

}

.location-enter-div{
  margin: auto 0 auto 0;
}

#location-input{
  height: 27px;
  width: 300px;
  padding: 5px;
  border: none;
  border-radius: 10px 0 0 10px;
}

#location-input:focus{
  outline: 1px solid var(--light-pink);
  height: 25px;
}

#location-input-submit-btn {
  border-radius: 0px 10px 10px 0px;
  height: 37px;
  border: none;
  width: 75px;
  margin-left: -5px;
  background-color: var(--orange-brown);
  color: white;
  transition: 0.25s ease-in-out;
}

@media screen and (max-width: 769px){
  .location-enter-div{
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #location-input{
    width: 70%;
  }
  #location-input-submit-btn{
    width: 25%;
  }
  .header-title-container{
    justify-content: center;
  }
  header.main-header{
    flex-direction: column;
  }
}

#location-input-submit-btn:hover{
  background-color: var(--light-pink);
  cursor: pointer;
  color: black;
}

.temperature-control-div{
  display: flex;
  flex-direction: column;
  #switch-temp-type-btn{
    width: 100px;
    height: 30px;
  }
  @media screen and (max-width: 769px){
    margin-top: 15px;
    flex-direction: row;
  }
}

