.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-center{
  justify-content: center;
}

.large-text{
  font-size: 32px;
}

.medium-text{
  font-size: 24px;
}

.medium-large-text{
  font-size: 28px;
}

.small-text{
  font-size: 16px;
}

.text-center{
  text-align: center;
}

.flex-space{
  justify-content: space-around;
}

.block{
  display: block;
}

.section{
  margin-top: 20px;
}

.full-width{
  width: 100%;
}

.dark-bg{
  background-color: var(--raisin-black);
}

.white-font{
  color: white;
}

.section-title{
  text-align: center;
  font-size: 36px;
  margin-bottom: 5rem;
}

.padded-section{
  padding: 40px 0;
}

.contained{
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.data-section{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.four-grid{
  display: grid;
  grid-row-gap: 80px;
  grid-template-columns: 25% 25% 25% 25%;
  @media screen and (max-width: 769px){
    grid-template-columns: 50% 50%;
  }
}

.three-grid{
  display: grid;
  grid-row-gap: 100px;
  grid-template-columns: 33% 33% 33%;
  @media screen and (max-width: 769px){
    grid-template-columns: 50% 50%;
  }
}

#day-selection-container{
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
  font-weight: lighter;
  i{
    cursor: pointer;
  }
  #change-day-current{
    margin: 15px;
    min-width: 100px;
  }
}

.data-item{
  display: flex;
  flex-direction: column;
  i{
    font-size: 35px;
    margin-bottom: 15px;
  }
  span{
    margin-top: 5px;
  }
}

.data-section-title{
  font-size: 18px;
  max-width: 50%;
  margin: auto;
}

.data-section-data{
  font-weight: lighter;
}


main{
  margin: 25px auto;
  .main-display-top{
    display: grid;
    grid-template-columns: 20% 70%;
    grid-gap: 10%;
  }
  @media screen and (max-width: 769px){
    .main-display-top{
      grid-template-columns: auto;
      grid-template-rows: auto auto;
    }
  }
  .display-quick-info{
    span{
      margin: 10px 0;
    }

  }
  .main-day-temp-display{
    font-size: 100px;
  }
  .hourly-display{
    padding: 10px 0;
    border-top: 2px solid rgba(0,0,0,0.25);
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    max-width: 100vw;

    &::-webkit-scrollbar{
      height: 4px;
      background-color: rgba(0,0,0,0.25);
    }

    &::-webkit-scrollbar-thumb{
      background-color: black;
    }

    .hour-info-basic{
      text-align: center;
      width: 125px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      img{
        width: 75px;
        margin: 10px auto;
      }
    }
    .hourly-info-time{
      font-weight: bold;
      margin-bottom: 15px;
    }
    .hourly-info-rain-chance{
      color: #0091ff;
      font-weight: bold;
    }
  }
}

#switch-temp-type-btn{
  border: none;
  height: 20px;
}

#carbon-monoxide-data::after{
  content: 'μg/m3';
  margin-left: 5px;
}

#ozone-data::after{
  content: 'μg/m3';
  margin-left: 5px;
}

#nitrogen-data::after{
  content: 'μg/m3';
  margin-left: 5px;
}

#sulphur-data::after{
  content: 'μg/m3';
  margin-left: 5px;
}

#pm2-data::after{
  content: 'μg/m3';
  margin-left: 5px;
}

#pm10-data::after{
  content: 'μg/m3';
  margin-left: 5px;
}