/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&display=swap');

:root{
  --raisin-black: #262322;
  --dark-red-brown: #63372C;
  --orange-brown: #C97D60;
  --light-pink: #FFBCB5;
  --cream-white: #F2E5D7;
}

body, html{
  font-family: 'Inter', sans-serif;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body{
  height: auto;
}

@import 'header';
@import 'main-styles';